.image {
    height: 30vh;
    width: 90%;
    object-fit: cover;
}
.text {
    width: 90%;
    background-color: white;
    height: 180px;
    padding: 2rem;   
}
.text p {
    font-size: 15px;
}
.text h3 {
    padding: .7rem 0;
}
.event {
    margin: 0 5% 1rem;
}
.event::selection {
    color: none;
    background: none;
    -webkit-tap-highlight-color: transparent;
}
.event::-moz-selection {
    color: none;
    background: none;
}