.image {
    height: 30vh;
    width: 100%;
    object-fit: cover;
    box-shadow: 4px -3px 10px #e2e0e0;
}
.text {
    width: 100%;
    background-color: white;
    /* height: 180px; */
    padding: 2rem;   
    box-shadow: 4px -3px 10px #e2e0e0;
}
.text p {
    font-size: 15px;
}
.text h3 {
    padding: .7rem 0;
}
.event {
    padding: 0 5% 1rem;
}
.past {
    filter: brightness(.9);
}